<?php 
return array(
    'mysql_username' => "usr",
    'mysql_password' => "pwd",
    'mysql_database' => "db",
    'mysql_address' => "127.0.0.1",
    'environment' => "dev",
    'smtp_server' => "127.0.0.1",
    'smtp_email' => "usr@usr",
    'smtp_password' => "pwd"
);
?>